<%- include("../partials/header"); -%>
<div class="container p-4">
  <div class="rows">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-head">
          <div class="text-center">
            <h1>Editar</h1>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label>CI</label>
              <input
                type="text"
                name="ci"
                value="<%= estudiante.CI %> "
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label>Nombre</label>
              <input
                type="text"
                name="nombre"
                value="<%= estudiante.Nombre %> "
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label>Direccion</label>
              <input
                type="text"
                name="direccion"
                value="<%= estudiante.Direccion %> "
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label>Carrera</label>
              <input
                type="text"
                name="carrera"
                value="<%= estudiante.Carrera %> "
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label>Edad</label>
              <input
                type="text"
                name="edad"
                value="<%= estudiante.Edad %> "
                class="form-control"
              />
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn-success">Guardar</button>
              <a href="/estudiantes" class="btn btn-danger">Cancelar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("../partials/footer"); -%>
